<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p>Hello David</p>
<h3>Hello Johan</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda aut, consequatur, eum illum, nam nesciunt non nulla quos repellat sapiente totam! Ab animi consequatur debitis doloremque eum excepturi praesentium quam quos voluptates? Beatae culpa ducimus, esse nisi sunt veritatis!</p>
<ul>
    <li>sadf</li>
    <li>sadf</li>
    <li>sadf</li>
    <li>sadf</li>
    <li>sadf</li>
</ul>
{% for i in products %}
    <h3>Товар: {{ i.product_name }}</h3>
    <p>Цена: {{ i.price }}</p>
    <p>Кол-во: {{ i.count }}</p>
    <img src="{{ i.image.url }}" width="200px" alt="">
{% endfor %}

{% for cat in categories %}
    {{ cat.category_name }}
    {{ cat.created_at }}
{% endfor %}
</body>
</html>
